<div class="right__container">
    <section class="header">
        <h1>کدینتولاین</h1>
        <div class="line"></div>
        <div class="subHeader">
            <img src="../assets/images/cancel.png" class="header__icon">
            <span class="subHeader__text">صفحه خوشامد گویی</span>
             <div></div>
        </div>
    </section>
    <article class="main__container">
    </article>
    <section class="bottom__btns">
        <button class="refuse">انصراف</button>
        <button class="save">ذخیره</button>
    </section>
</div>
<div class="left__container">
    <div class="main__content">
        <section class="question__conatiner">
            <div class="question__box">
                  <span>سلام و عرض ادب خدمت همراهان کدینتولاین</span>
                  <p>ما را در این نظرسنجی همراهی کنید</p>
            </div>
            <button class="start__btn">شروع</button>
        </section>
        <section class="circle__container">
            <div class="options">
                <img src="../assets/images/plus.png" alt="" class="option__icon">
                <img src="../assets/images/levels.png" alt="" class="option__icon">
                <img src="../assets/images/cursor.png" alt="" class="option__icon">
            </div>
            <div class="circle">
                <img src="../assets/images/plusWhite.png" alt="" class="circle__icon">
            </div>
        </section>
    </div>
</div>