<section class="icons__delete__container">
    <div class="part__divider"> 
        <div class="right__section">
            <div class="input__box">
                <span class="box__number">1</span>
            </div>
            <input type="text" class="entry__input"/>
        </div>
        <div class="left__section">
            <div class="watch icon__layout">
                <img src="../../assets/images/eye.png" alt="" class="section__icon">
            </div>
            <div class="delete icon__layout">
                <img src="../../assets/images/garbage.png" alt="" class="section__icon">
            </div>
            <div class="add icon__layout">
                <img src="../../assets/images/plus.png" alt="" class="section__icon">
            </div>
            <div class="upload icon__layout">
                <img src="../../assets/images/upload (2).png" alt="" class="section__icon">
            </div>
    </div>
    </div>
    <div class="part__divider"> 
        <div class="right__section">
            <div class="input__box">
                <span class="box__number">2</span>
            </div>
            <input type="text" class="entry__input"/>
        </div>
        <div class="left__section">
            <div class="watch icon__layout">
                <img src="../../assets/images/eye.png" alt="" class="section__icon">
            </div>
            <div class="delete icon__layout">
                <img src="../../assets/images/garbage.png" alt="" class="section__icon">
            </div>
            <div class="add icon__layout">
                <img src="../../assets/images/plus.png" alt="" class="section__icon">
            </div>
            <div class="upload icon__layout">
                <img src="../../assets/images/upload (2).png" alt="" class="section__icon">
            </div>
    </div>
    </div>
    <div class="part__divider"> 
        <div class="right__section">
            <div class="input__box">
                <span class="box__number">3</span>
            </div>
            <input type="text" class="entry__input"/>
        </div>
        <div class="left__section">
            <div class="watch icon__layout">
                <img src="../../assets/images/eye.png" alt="" class="section__icon">
            </div>
            <div class="delete icon__layout">
                <img src="../../assets/images/garbage.png" alt="" class="section__icon">
            </div>
            <div class="add icon__layout">
                <img src="../../assets/images/plus.png" alt="" class="section__icon">
            </div>
            <div class="upload icon__layout">
                <img src="../../assets/images/upload (2).png" alt="" class="section__icon">
            </div>
    </div>
    </div>
</section>