body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.right__container{
    height: 100%;
    width: 27%;
    /* padding: 0.5rem 0.7rem; */
    background-color: var(--white);
    overflow-y:scroll;
    overflow-x: hidden;
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__part{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 92vh;
}
.header{
    width: 100%;
    height: 6rem;
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--textColor);
    padding-right: 2rem;

}
.header__icon{
    width: 3rem;
    height: 3rem;
    display: none;
}
.header__text{
    font-size: 20px;
    color: var(--textColor);
    font-weight: 600;
    font-family: iransansweb;
}


.flex__column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1rem;
}
.option__text{
    font-size: 15px;
    font-weight: 500;
    font-family: iransansweb;
    color: var(--textColor);
}
.option__icon{
    width: 2rem;
    height: 2rem;
}
.option__icon__little{
    width: 1.6rem;
    height: 1.6rem;
}
.items__container{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0 auto;

}
.items{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: repeat(6, 1fr); */
    grid-column-gap: 0.5rem;
    grid-row-gap: 1rem;
    justify-items: center;
    align-items: center;
}
.item__box{
    width: 100%;
    height: 11rem;
    border-radius: 50px/110px;
    background-color: var(--optionBack);
    box-shadow: 0px 4px 17px -7px rgba(0,0,0,0.3);

}
.item__box__header{    
    width: 100%;
    height: 7rem;
    background-color: var(--optionBack);
    box-shadow: 0px 4px 17px -7px rgba(0,0,0,0.3);
    border-radius: 40px/70px;
}
.item__box__footer{
    background-color: var(--optionBack);
    box-shadow: 0px 4px 17px -7px rgba(0,0,0,0.3);
    width: 100%;
    height: 7rem;
    border-radius: 40px/70px;
}
    
    .div1 { grid-area: 1 / 1 / 2 / 4; 
        width: 100%;
    }
    .div14 { grid-area: 6 / 1 / 7 / 4; 
        width: 100%;
    }
    
.right__container::-webkit-scrollbar {
    display: none;
}
/* left container -------------------------------- */
.left__container{
    width: 73%;
    height: 100%;
    padding : 0px 6rem 0px 10px;
    background-color: var(--mainBackground);
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.main__content{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem 0 1rem;
    height: 92vh;

}
.drop__down__conatiner{
    width: 65%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.drop__down__parent{
    width: 80%;
    height: 6rem;
    display: flex;
    align-items: center;
    position: relative;
}
.drop__down__parent2{
    width: 65%;
    height: 6rem;
    display: flex;
    align-items: center;
    position: relative;
    margin-right: 10rem;
}
.drop__down__box{
    width: 5.1rem;
    height: 5rem;
    background-color: var(--textColor);
    border-radius: 20px;
}
.drop__down__row{
    width: 62rem;
    height: 4.9rem;
    border: 1px solid var(--textColor);
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    right: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem 0 1.5rem;
}
.drop__down__row2{
    width: 52rem;
    height: 4.9rem;
    border: 1px solid var(--textColor);
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    right: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem 0 1.5rem;
}
.drop__down__icon__container{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 2rem;
}
.dro__down__box__number{
    font-size: 15px;
    color: var(--white);
    font-weight: 600;
    font-family: iransansweb;
}
.drop__down__text{
    font-size: 15px;
    font-weight: 600;
    color: var(--textColor);
    font-family: iransansweb;
    margin-right: 3rem;
}
.drop__down__icon{
    width: 2.4rem;
    height: 2.4rem;
}
.box__icon{
    width: 3.6rem;
    height: 3.6rem;
}
.circle__container{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
    
}
.circle{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    background-color: var(--textColor);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.circle__icon{
    width: 4.8rem;
    height: 4.8rem;
}
.options{
    height: 15rem;
    width: 5.5rem;
    border-radius: 29px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: 2px 0px 2px 1px rgba(0, 0, 0, 0.2);
    /* visibility: hidden; */
    transition: all 0.2s;
    opacity: 0;
}
.active{
    /* visibility: visible; */
    opacity: 1;
}
.option__icon{
    width: 24px;
    height: 24px;
}
.matni__none__respons span{
    font-size: 11px;
    font-weight: 500;
    color: var(--textColor);
    font-family: iransansweb;
}
.welcome:hover,.matni__rospons:hover,.matni__none__respons:hover,.many__option:hover,.group__question:hover{
    background-color: rgb(83, 96, 237 , 0.2)
}

.number:hover,.range:hover,.email:hover,.degree:hover,.degree:hover,.link:hover,.order:hover,.upload:hover,.tanks:hover,.dorwer__list:hover{
   background-color: rgb(83, 96, 237 , 0.2)
}




/* responsive ---------------------- */
@media only screen and (max-width: 350px)  {
    .left__container{
        display: none;
    }
    .right__container{
        width: 100%;
    }
    .matni__none__respons span{
        font-size: 10px;
    }
    .item__box{
        width: 11rem;
        height: 8rem;
        border-radius: 50px/110px;
        background-color: var(--optionBack);
        box-shadow: 0px 4px 17px -7px rgba(0,0,0,0.3);
    
    }
    .item__box__header{    
        width: 28rem;
        height: 6rem;
        background-color: var(--optionBack);
        box-shadow: 0px 4px 17px -7px rgba(0,0,0,0.3);
        border-radius: 40px/70px;
    }
    .item__box__footer{
        background-color: var(--optionBack);
        box-shadow: 0px 4px 17px -7px rgba(0,0,0,0.3);
        width: 28rem;
        height: 6rem;
        border-radius: 40px/70px;
    }
    .option__text{
        font-size: 10px;
        font-weight: 500;
        font-family: iransansweb;
        color: var(--textColor);
    }
    .option__icon{
        width: 1rem;
        height: 1rem;
    }
    .header__icon{
        display: block;
    }
}

@media only screen and (min-width: 350.1px)  and (max-width : 550px){
    .left__container{
        display: none;
    }
    .right__container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .matni__none__respons span{
        font-size: 12px;
    }
    .items__container{
        width: 100%;
        margin-top: 5rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .items{
        align-items: center;
        justify-items: center;
    }
    .item__box{
        width: 10rem;
        height: 10rem;
        border-radius: 50px/110px;
        background-color: var(--optionBack);
        box-shadow: 0px 4px 17px -7px rgba(0,0,0,0.3);
    
    }
    .item__box__header{    
        width: 28rem;
        height: 6rem;
        background-color: var(--optionBack);
        box-shadow: 0px 4px 17px -7px rgba(0,0,0,0.3);
        border-radius: 40px/70px;
    }
    .item__box__footer{
        background-color: var(--optionBack);
        box-shadow: 0px 4px 17px -7px rgba(0,0,0,0.3);
        width: 28rem;
        height: 6rem;
        border-radius: 40px/70px;
    }
    .option__text{
        font-size: 12px;
        font-weight: 500;
        font-family: iransansweb;
        color: var(--textColor);
    }
    .header__icon{
        display: block;
    }
}
@media only screen and (min-width: 550.1px)  and (max-width : 870px){
    .left__container{
        display: none;
    }
    .right__container{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .items__container{
        width: 60%;
        margin-top: 8rem;
    }
    .matni__none__respons span{
        font-size: 12px;
    }
    .item__box{
        width: 10rem;
        height: 10rem;
        border-radius: 50px/110px;
        background-color: var(--optionBack);
        box-shadow: 0px 4px 17px -7px rgba(0,0,0,0.3);
    
    }
    .item__box__header{    
        /* width: 30rem; */
        height: 6rem;
        background-color: var(--optionBack);
        box-shadow: 0px 4px 17px -7px rgba(0,0,0,0.3);
        border-radius: 40px/70px;
    }
    .item__box__footer{
        background-color: var(--optionBack);
        box-shadow: 0px 4px 17px -7px rgba(0,0,0,0.3);
        /* width: 30rem; */
        height: 6rem;
        border-radius: 40px/70px;
    }
    .option__text{
        font-size: 12px;
        font-weight: 500;
        font-family: iransansweb;
        color: var(--textColor);
    }
    .header__icon{
        display: block;
    }
}

@media only screen and (min-width: 870.1px)  and (max-width : 1024px){
     .right__container{
        width: 40%;
        height: 100%;
        display: flex;
        align-items: center;
     }
     .matni__none__respons span{
        font-size: 10px;
    }
     .left__container{
        width: 60%;
        height: 100%;
        padding-right: 1rem;
     }
     .drop__down__row{
        width: 27rem;
     }
     .drop__down__row2{
        width: 22rem;
     }
     .items__container{
        width: 90%;
        margin-top: 4rem;
        display: flex;
        justify-content: center;
    }
    .item__box{
        width: 33%;
        height: 8rem;
        border-radius: 50px/110px;
        background-color: var(--optionBack);
        box-shadow: 0px 4px 17px -7px rgba(0,0,0,0.3);
    
    }
    .item__box__header{    
        height: 6rem;
        background-color: var(--optionBack);
        box-shadow: 0px 4px 17px -7px rgba(0,0,0,0.3);
        border-radius: 40px/70px;
        width: 100%;
    }
    .item__box__footer{
        background-color: var(--optionBack);
        box-shadow: 0px 4px 17px -7px rgba(0,0,0,0.3);
        height: 6rem;
        border-radius: 40px/70px;
        width: 100%;
    }
    .option__text{
        font-size: 11px;
        font-weight: 500;
        font-family: iransansweb;
        color: var(--textColor);
    }
    .drop__down__text{
        font-size: 10px;
    }
    .drop__down__icon{
        width: 1.8rem;
        height: 1.8rem;
    }
    .drop__down__icon__container{
        column-gap: 0.5rem;
    }
    .drop__down__parent2{
        margin-right: 5rem;
    }

}
@media only screen and (min-width: 1024.1px)  and (max-width : 1400px){
    .right__container{
        width: 27%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
     }
     .left__container{
        width: 73%;
        height: 100%;
        padding-right: 2rem;
     }
     .drop__down__row{
        width: 70rem;
     }
     .drop__down__row2{
        width: 65rem;
     }
     .items__container{
        width: 80%;
        /* margin-top: 4rem; */
        display: flex;
        justify-content: center;
        height: 100%;
    }
    .item__box{
        width: 100%;
        height: 10rem;
        border-radius: 50px/110px;
        background-color: var(--optionBack);
        box-shadow: 0px 4px 17px -7px rgba(0,0,0,0.3);
    
    }
    .item__box__header{    
        height: 6rem;
        background-color: var(--optionBack);
        box-shadow: 0px 4px 17px -7px rgba(0,0,0,0.3);
        border-radius: 40px/70px;
        width: 100%;
    }
    .item__box__footer{
        background-color: var(--optionBack);
        box-shadow: 0px 4px 17px -7px rgba(0,0,0,0.3);
        height: 6rem;
        border-radius: 40px/70px;
        width:100%
    }
    .option__text{
        font-size: 11px;
        font-weight: 500;
        font-family: iransansweb;
        color: var(--textColor);
    }
    .drop__down__text{
        font-size: 10px;
    }
    .drop__down__icon{
        width: 1.8rem;
        height: 1.8rem;
    }
    .drop__down__icon__container{
        column-gap: 0.5rem;
    }
    .drop__down__parent2{
        margin-right: 5rem;
    }
}