<div class="range__selection__container">
    <div class="range__selection">
        <div class="number__container">
            <span class="range__number">7</span>
        </div>
        <div class="number__container">
            <span class="range__number">6</span>
        </div>
        <div class="number__container">
            <span class="range__number">5</span>
        </div>
        <div class="number__container">
            <span class="range__number">4</span>
        </div>
        <div class="number__container">
            <span class="range__number">3</span>
        </div>
        <div class="number__container">
            <span class="range__number">2</span>
        </div>
        <div class="number__container">
            <span class="range__number">1</span>
        </div>
    </div>
</div>