<section class="range__teyfi__container">
    <div class="teyfi__box">
        <span class="teyfi__number">5</span>
    </div>
    <div class="range__line">
        <div class="vertical__place"></div>
        <div class="horizental__place__container">
            <div class="horizental__place"></div>
        </div>
        <div class="vertical__place"></div>
        <div class="horizental__place__container">
            <div class="horizental__place"></div>
        </div>
        <div class="vertical__place"></div>
        <div class="horizental__place__container">
            <div class="horizental__place"></div>
        </div>
        <div class="vertical__place"></div>
        <div class="horizental__place__container">
            <div class="horizental__place"></div>
        </div>
        <div class="vertical__place"></div>
        <div class="horizental__place__container">
            <div class="horizental__place"></div>
        </div>
        
        <div class="vertical__place"></div>
        <div class="horizental__place__container">
            <div class="horizental__place"></div>
        </div>
        <div class="vertical__place"></div>
        <div class="horizental__place__container">
            <div class="horizental__place"></div>
        </div>
        <div class="vertical__place"></div>
        <div class="horizental__place__container">
            <div class="horizental__place"></div>
        </div>
        <div class="vertical__place"></div>
        <div class="horizental__place__container">
            <div class="horizental__place"></div>
        </div>
        <div class="vertical__place"></div>
        <div class="horizental__place__container">
            <div class="horizental__place"></div>
        </div>
        <div class="vertical__place"></div>
        <div class="horizental__place__container">
            <div class="horizental__place"></div>
        </div>
        <div class="vertical__place"></div>
    </div>
</section>